<header id="siteHeader" class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <div class="container-fluid justify-content-between">
    <a class="navbar-brand me-0 px-3 text-white brand-logotype" href="{% url 'persons:person_list' %}">Облік<span class="text-primary">+</span></a>
    <button class="btn btn-outline-light d-md-none me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-label="Меню">
      <i class="bi bi-list"></i>
    </button>
  </div>
</header>
