<aside class="sidebar col-md-3 col-lg-2 p-0">
  <div class="offcanvas-md offcanvas-end" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
    <div class="offcanvas-header d-md-none">
      <h5 class="offcanvas-title" id="sidebarMenuLabel">Облік+</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Закрити"></button>
    </div>
    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
      <hr class="mx-3 my-3 border-secondary opacity-25" />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="{%- url 'persons:person_list' -%}" class="nav-link d-flex align-items-center {% if sidebar_active == 'list' %}active{% else %}text-white{% endif %}" aria-current="page">
            <i class="bi bi-list-task"></i>
            Загальний список
          </a>
        </li>
        <li class="nav-item">
          <a href="{%- url 'persons:person_create' -%}" class="nav-link d-flex align-items-center {% if sidebar_active == 'create' %}active{% else %}text-white{% endif %}">
            <i class="bi bi-file-earmark-plus"></i>
            Створити запис
          </a>
        </li>
        <li class="nav-item">
          <a href="{%- url 'logout' -%}" class="nav-link text-white d-flex align-items-center">
            <i class="bi bi-box-arrow-left"></i>
            Вийти
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
